@media only screen and (min-width: 768px) {
    a {
        text-decoration: none;
        color: #3d3d3d;
    }

    li {
        list-style: none;
    }

    body {
        display: flex;
        flex-direction: column;
    }
    .flex{
        display:flex;
    }
    .public-nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 1px solid #dadada9e;
        margin-bottom: 2rem;
    }

    .public-nav .nav-group {
        letter-spacing: 0.15rem;
    }

    .public-nav .nav-group .title {
        padding: 0.5rem;
        font-weight: bold;
    }

    .public-nav .nav-group a {
        display: flex;
        align-items: center;

    }

    .public-nav .nav-group .title img {
        width: 32px;
        height: 32px;
        padding-right: 12px;
    }

    .public-nav .nav-group ul {
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .public-nav .nav-group ul li {
        padding: 0.5rem 1rem;
        border-bottom: 3px solid #f7f7f700;
    }

    .public-nav .nav-group ul li img {
        width: 16px;
        height: 16px;
        padding-right: 8px;

    }

    .public-nav .nav-group ul li:hover {
        background-color: #d8d3d34f;
        border-radius: 5px;
        border-bottom: 3px solid #1c901ca3;
    }

    .public-nav .nav-group ul li:hover a {
        color: #222222;
    }

    .page-home .application-main {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .page-home .application-main .lately {
        width: 15%;
        border-right: 1px solid #dadada9e;
        padding: 1rem;
    }

    .page-home .application-main .lately .title {
        font-weight: bold;
        color: #3d3d3d;
        margin-bottom: 3rem;
        padding-left: 14px;
    }

    .page-home .application-main .lately .item-group {
        margin-bottom: 1rem;
    }

    .page-home .application-main .lately .item-group .subtitle {
        font-weight: bold;
        font-size: 14px;
        color: rgba(61, 61, 61, 0.48);
        margin-bottom: 1rem;
        padding-left: 14px;
    }

    .page-home .application-main .lately .item-group ul {
        margin: 0;
        padding: 0;
    }

    .page-home .application-main .lately .item-group ul li {
        padding: 0.4rem 0;
        border-radius: 6px;
    }

    .page-home .application-main .lately .item-group ul li:hover {
        background-color: #c3bcbc45;;
    }

    .page-home .application-main .lately .item-group ul li a {
        padding-left: 14px;
        font-size:14px;
    }

    .page-home .application-main .mainBox {
        width: 40%;
        line-height: 1.5rem;
        letter-spacing: 1px;
    }

    .page-home .application-main .mainBox h1 {
        font-size: 26px;
        padding: 1rem 0;
    }

    .page-home .application-main .rightBox {
        width: 15%;
    }



    .page-login .application-main {
        display: flex;
        justify-content: center;

    }

    .page-login .application-main .loginBox {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        width: 20%;
        border: 1px solid #dadada9e;
        border-radius: 8px;
        padding: 2rem 3.5rem;
    }

    .page-login .application-main .loginBox .login-title {
        padding-bottom: 1.5rem;
    }

    .page-login .application-main .loginBox .login-form {
        display: flex;
        flex-direction: column;
    }

    .page-login .application-main .loginBox .login-form .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.8em;
    }

    .page-login .application-main .loginBox .login-form span {
        letter-spacing: 2px;

    }

    .page-login .application-main .loginBox .login-form input {
        height: 1.3rem;
        padding: 0.4rem 0.8rem;
        border: 1px solid #dadada;
        border-radius: 6px;
        outline: none;
        margin: 0.6rem 0;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .page-login .application-main .loginBox .login-form input:focus {
        border: 1px solid #288a98ba;
        box-shadow: 0 0 4px #65a4d4ad;
    }

    .page-login .application-main .loginBox .login-form button {
        margin-top: 1rem;
        padding: 0.4rem 0.8rem;
        outline: none;
        background-color: #2ea44f;
        background-color: #1084b8e0;;
        border: 1px solid #dadada;
        border-radius: 6px;
        color: #d5eddc;
    }
    .page-login .application-main .loginBox .login-form .wrong{
        border-left: 5px solid #ef3333;
        font-size:14px;
        padding-left:15px;
    }

    .page-newPost .application-main {
        display: flex;
        justify-content: center;

    }
    .page-newPost .application-main .post-form{
        margin-top: 1rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        width: 50%;
        border: 1px solid #dadada9e;
        border-radius: 4px;
        box-shadow: 0 1px 5px #ddd;


    }
    .page-newPost .application-main .post-form .form-group{
        margin: 0em 8rem;
    }
    .page-newPost .application-main .post-form .title{
        border:none;
        border-bottom: 1px solid #73736cad;
        width:100%;
        outline: none;
        margin-bottom:2em
        letter-spacing: 1.5px;
        font-weight: bold;
        font-size:23px;
        margin:3.5em 0 1.5em 0;
        padding-bottom:1em;
    }
    .page-newPost .application-main .post-form .title:focus {
        border-bottom: 1px solid #73736cad;
    }

    .page-newPost .application-main .post-form .content{
        border:none;
        width:100%;
        outline: none;
        margin-bottom:2em
        letter-spacing: 1px;
        font-size:17px;
        min-height:600px;
        max-height:1200px;
        line-hight:1.7;
        outline:none;
    }
    .page-newPost .application-main .send-box{
        display:flex;
        justify-content: flex-end;
        padding-bottom:2em;
    }
    .page-newPost .application-main .send-box button{

        background:#0079ae;
        outline:none;
        border:1px solid #0079ae;
        color:white;
        border-radius:4px;
        padding:10px 15px;
        font-weight: bold;
    }
    .page-newPost .application-main .send-box button{
        background:#0079ae;
        outline:none;
        border:1px solid #0079ae;
        color:white;
        border-radius:4px;
        padding:10px 15px;
        font-weight: bold;
    }
    .page-post .application-main{
        display:flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-evenly;
    }
    .page-post .application-main .post{
        display:flex;
        flex-direction: column;
        align-items:center;
        width:40%;
        padding-top:1em;

    }

    .page-post .application-main .post .title{
        font-size:30px;
        font-weight:bold;
        color:#494949;
        letter-spacing: 1.6px;
        width:100%;
    }

    .page-post .application-main .post .time{
        color:#867a7a9c;
        letter-spacing: 1px;
        margin:1em 0;
        width:100%;
        font:10px;

    }

    .page-post .application-main .post .content{
        padding-top:1em;
        line-height:24px;
        letter-spacing: 1px;
        min-height:500px;
    }

    .page-post .application-main .post .footer{
        display: flex;
        margin:3em 0;
        padding:0.5em 4em;
        background:#664a4aed;
        color:white;
        font-weight:bold;
    }

    .page-post .application-main .right-box{
        width:20%;
        font-size:14px;
    }
    .page-post .application-main .right-box a{
        display:flex;
        flex-direction:row;
        align-items:center;
        padding:5px 0;
    }
    .page-post .application-main .right-box img{
        padding-right:4px;
        width:14px;
        height:14px;
    }

    .page-admin{
        display:flex;
        flex-direction:row;
        justify-content: space-around
    }
    .page-admin .posts li{
        display:flex;
        flex-direction:row;
    }
    .page-admin .posts li .post{
        padding-right:1em;
    }
}