@media only screen and (min-width: 768px) {
    .page-login{
        .application-main {
            display: flex;
            justify-content: center;
            .loginBox {
                margin-top: 3rem;
                display: flex;
                flex-direction: column;
                width: 20%;
                border: 1px solid #dadada9e;
                border-radius: 8px;
                padding: 2rem 3.5rem;
                .login-title {
                    padding-bottom: 1.5rem;
                }
                .login-form {
                    display: flex;
                    flex-direction: column;
                    .form-group {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 0.8em;
                        span {
                            letter-spacing: 2px;

                        }
                        input {
                            height: 1.3rem;
                            padding: 0.4rem 0.8rem;
                            border: 1px solid #dadada;
                            border-radius: 6px;
                            outline: none;
                            margin: 0.6rem 0;
                            letter-spacing: 1px;
                            font-weight: bold;
                            &:focus {
                                border: 1px solid #288a98ba;
                                box-shadow: 0 0 4px #65a4d4ad;
                            }
                        }
                        button {
                            margin-top: 1rem;
                            padding: 0.4rem 0.8rem;
                            outline: none;
                            background-color: #2ea44f;
                            background-color: #1084b8e0;;
                            border: 1px solid #dadada;
                            border-radius: 6px;
                            color: #ffffff;
                            font-weight: bold;
                        }
                        .wrong{
                            border-left: 5px solid #ef3333;
                            font-size:14px;
                            padding-left:15px;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 767px) {
    .page-login{
        .application-main {
            padding: 0 3em;
            display: flex;
            justify-content: center;
            .loginBox {
                display: flex;
                border: 1px solid #dadada9e;
                border-radius: 8px;
                padding: 2rem 1.5rem;
                align-items: center;
                .login-title{
                    padding-right: 1em;
                    border-right:1px solid #eee;
                }
                .login-form{
                    padding-left: 2em;
                    .form-group{
                        display: flex;
                        flex-direction: column;
                        margin: 0.8em 0;
                        span {
                            letter-spacing: 2px;

                        }
                        input {
                            height: 1.3rem;
                            padding: 0.4rem 0.8rem;
                            border: 1px solid #dadada;
                            border-radius: 6px;
                            outline: none;
                            margin: 0.6rem 0;
                            letter-spacing: 1px;
                            font-weight: bold;
                            &:focus {
                                border: 1px solid #288a98ba;
                                box-shadow: 0 0 4px #65a4d4ad;
                            }
                        }
                        button {
                            margin-top: 1rem;
                            padding: 0.4rem 0.8rem;
                            outline: none;
                            background-color: #2ea44f;
                            background-color: #1084b8e0;;
                            border: 1px solid #dadada;
                            border-radius: 6px;
                            color: #ffffff;
                            font-weight: bold;
                        }
                        .wrong{
                            border-left: 5px solid #ef3333;
                            font-size:14px;
                            padding-left:15px;
                        }
                    }
                }

            }
        }
    }

}
