@media only screen and (min-width: 768px) {
    .page-home{
        padding:0 10em;

        .application-main{
            .basic-data-title{
                margin-top: 3em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .title-box{
                    .subtitle{
                        font-size: 14px;
                        font-weight: bold;
                        color: #7c8188;
                    }
                    .title{
                        font-size: 22px;
                        font-weight: bold;
                    }
                }
                .new-post{
                    display: flex;
                    align-items: center;
                    background-color: #206bc4;
                    padding: 7px 10px;
                    color: white;
                    border-radius: 5px;
                    font-size:15px;

                    img{
                        height: 16px;
                        width: 16px;
                        padding-right:5px;
                        color:white;
                    }
                }
            }
            .basic-data{
                display: flex;
                flex-direction: column;
                margin-top:2em;
                .overview{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .posts,.notes,.users,.daily{
                        width:20%;
                        padding: 1em 1em;
                        border:1px solid #eee;
                        border-radius: 5px;
                        background-color: white;
                        .title{
                            font-size:10px;
                            font-weight: bold;
                            letter-spacing: 1.2px;
                            color:#7c8188;

                        }
                        .data{
                            .data-inner{
                                font-size:30px;
                            }
                        }

                    }

                }
                .details{

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    margin-top:2em;
                    .notes,.posts,.users,.daily{
                        width:45%;
                        padding: 1em 1em;
                        margin:0 0 1em 0;
                        border:1px solid #eee;
                        border-radius: 5px;
                        background-color: white;
                        min-height:12em;
                        overflow: auto;
                        .title{
                            font-size:10px;
                            font-weight: bold;
                            letter-spacing: 1.2px;
                            color:#7c8188;

                        }
                        .data{
                            table{
                                margin-top:1em;
                                width:100%;
                                font-size:14px;
                                text-align: left;
                                tr{
                                    td{
                                        width:25%;
                                        .deletePost{
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}
