{% extends 'admin-base.html' %}

{% block applicationMain %}
<div class="page-home">
    <div class="application-main">
        <div class="basic-data-title">
            <div class="title-box">
                <div class="title">基础数据管理</div>
                <div class="subtitle">Basic Data</div>
            </div>
            <div class="new-post-box">
                <a class="new-post" href="/new-post">
                    <img src="{{ url_for('static',filename='img/添加 (1).svg') }}" alt="">
                    <div class="text">
                        新建一篇文章
                    </div>
                </a>
            </div>
        </div>
        <div class="basic-data">
            <div class="overview">
                <div class="posts">
                    <div class="title">POSTS</div>
                    <div class="data">
                        <span class="data-inner">{{ counts["post"] }}</span>
                        <span>篇</span>
                    </div>
                </div>
                <div class="notes">
                    <div class="title">NOTES</div>
                    <div class="data">
                        <span class="data-inner">{{ counts["note"] }}</span>
                        <span>条</span>
                    </div>
                </div>
                <div class="users">
                    <div class="title">USERS</div>
                    <div class="data">
                        <span class="data-inner">{{ counts["user"] }}</span>
                        <span>位</span>
                    </div>
                </div>
                <div class="daily">
                    <div class="title">DAILY</div>
                    <div class="data">
                        <span class="data-inner">0</span>
                        <span>条</span>
                    </div>
                </div>
            </div>
            <div class="basic-data-title">
                <div class="title-box">
                    <div class="title">详细数据</div>
                    <div class="subtitle">Detail Data</div>
                </div>
            </div>
            <div class="details">
                <div class="posts">
                    <div class="title">POSTS</div>
                    <div class="data">
                        <table>
                            <thead>
                                <th>标题</th>
                                <th>时间</th>
                                <th>标签</th>
                                <th>操作</th>
                            </thead>
                            <tbody>
                                {% for item in posts %}
                                <tr>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.time }}</td>
                                    <td>{{ item.tag }}</td>
                                    <td>
                                        <a href="/post/{{ item.pid }}">查看</a>
                                        <a href="/modifyPost/{{ item.pid }}">修改</a>
                                        <a name="{{ item.pid }}" class="deletePost">删除</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="notes">
                    <div class="title">NOTES</div>
                    <div class="data">
                        <table>
                            <thead>
                                <th>标题</th>
                                <th>时间</th>
                                <th>操作</th>
                            </thead>
                            <tbody>
                                {% for item in notes %}
                                <tr>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.time }}</td>
                                    <td>
                                        <a href="">查看</a>
                                        <a href="">修改</a>
                                        <a name="{{ item.pid }}" class="deleteNote">删除</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="users">
                    <div class="title">USERS</div>
                    <div class="data">
                        <table>
                            <thead>
                                <th>用户名</th>

                            </thead>
                            <tbody>
                                {% for item in users %}
                                <tr>
                                    <td>{{ item.username }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="users">
                    <div class="title">DAILY</div>
                    <div class="data">
                        <table>
                            <thead>
                                <th>标题</th>
                                <th>时间</th>
                                <th>标签</th>
                                <th>操作</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Hello World</td>
                                    <td>2018-9-10</td>
                                    <td>日记</td>
                                    <td>
                                        <a href="">查看</a>
                                        <a href="">修改</a>
                                        <a href="">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        $(document).ready(function(){
           $(".deletePost").click(function(){
               var pid = $(this).attr("name");
               $.post("/deletePost",{
                  deletePid:pid
               });
               $(this).parents("tr").remove();

           });
           $(".deleteNote").click(function(){
               var pid = $(this).attr("name");
               $.post("/deleteNote",{
                  deletePid:pid
               });
               $(this).parents("tr").remove();

           });

        });


    </script>
{% endblock %}
