{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block applicationMain %}
<div class="page-admin">
    <div class="application-main">
        {% include 'admin-nav.html' %}
        <div class="content-posts">
            <div class="title">
                <h1>文章管理</h1>
                <p>你可以通过下面的表格对数据库中文章进行简单的管理。</p>
                <p>当然，你同样可以：<a href="/new-post">新建一篇文章</a></p>
            </div>
            <table>
                <tbody>
                    {% for post in posts%}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.time }} </td>
                        {% if post.tag %}
                            <td>{{ post.tag }}</td>
                        {% else %}
                        <td>默认</td>
                        {% endif %}

                        <td>
                            <a href="/post/{{ post.pid }}">查看</a>
                            <span>|</span>
                            <a href="/modifyPost/{{ post.pid }}">修改</a>
                            <span>|</span>
                            <a href=/deletePost/{{ post.pid }}>删除</a>
                        </td>
                    </tr>
                    {% endfor%}

                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $("input[name='keleyicom']")
});

</script>
{% endblock %}
