<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yarnom'Blog</title>
    <link rel="stylesheet" href=" {{url_for('static',filename='css/main.css')}}">
</head>
<body>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <div id="app">
        <div class="header">
            {% include 'header.html' %}
        </div>
        <div class="main">
            {% block applicationMain %}
            {% endblock %}
        </div>
        <div class="footer">

        </div>

    </div>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>

</html>