<nav class="public-nav">
    <div class="nav-group-1">
        <div class="nav-menu-phone">
            <img src="{{url_for('static',filename='img/Menu.svg')}}" alt="">
        </div>
        <div class="nav-title">
            <div class="title">
                <a href="/">
                    <img src="{{url_for('static',filename='img/郵件.svg')}}" alt="">
                    Yarnom'Blog
                </a>
            </div>
        </div>
        <div class="nav-notes-phone">
            <img src="{{url_for('static',filename='img/表单 (1).svg')}}" alt="">
        </div>

    </div>
    <div class="nav-menu">
        <ul>
            <li><a href="/">
                <img src="{{url_for('static',filename='img/主页 (1).svg')}}" alt="">
                主页
            </a></li>
            <li><a href="/archive">
                <img src="{{url_for('static',filename='img/cc-archive.svg')}}" alt="">
                归档
            </a></li>
            <li><a href="">
                <img src="{{url_for('static',filename='img/关于.svg')}}" alt="">
                关于
            </a></li>
            <li><a href="/admin">
                <img src="{{url_for('static',filename='img/登录.svg')}}" alt="">
                后端
            </a></li>
        </ul>
    </div>
    <div class="nav-sidebar">

    </div>
</nav>
<script>
    $(document).ready(function(){

        $(".nav-menu-phone").click(function(){
            $(".nav-menu").append($(".options"));
            $(".nav-menu").toggle(600);
        });

        $(".nav-notes-phone").click(function(){
            $(".nav-sidebar").append($(".sidebar"));
            $(".sidebar").toggle(600);
        });

    });


    </script>
