<nav class="public-nav">
    <div class="nav-group">
        <div class="title">
            <a href="/">
                <img src="../static/img/郵件.svg" alt="">
                Yarnom'Blog
            </a>
        </div>
    </div>
    <div class="nav-group menu-list">
        <ul>
            <li><a href="">
                <img src="../static/img/笔记.svg" alt="">
                思考集
            </a>
            </li>
            <li><a href="">
                <img src="../static/img/diary.svg" alt="">
                CS札记
            </a></li>
            <li><a href="">
                <img src="../static/img/cc-archive.svg" alt="">
                归档集
            </a></li>
            <li><a href="">
                <img src="../static/img/./关于.svg" alt="">
                关于我
            </a></li>
        </ul>
    </div>
    <div class="nav-group menu-controller">
        <ul>
            <li><a href="/login">
                <img src="../static/img/登录%20(1).svg" alt="">
                    {{ name }}
            </a></li>
        </ul>
    </div>
</nav>
