{% extends 'base.html' %}

{% block applicationMain %}
<div class="page-home">
    <div class="application-main">
        <div class="posts">
            {% for item in tops %}
                <div class="post">
                    <span class="time">{{ item.time }}</span>
                    <div class="title">
                        <a href="/post/{{ item.pid }}">
                            <span class="pre">&</span>
                            {{ item.title }}
                        </a>
                        <span>置顶文章</span>
                    </div>
                    <div class="public-post-content">
                        {{ item.content|safe}}
                    </div>
                </div>

            {% endfor%}

            {% for item in posts %}
                <div class="post">
                    <span class="time">{{ item.time }}</span>
                    <div class="title">
                        <a href="/post/{{ item.pid }}">
                            <span class="pre">&</span>
                            {{ item.title }}
                        </a>
                    </div>
                    <span class="tag">
                        <img src="{{ url_for('static',filename='img/tag (1).svg')}}" alt="">
                        {{ item.tag }}
                    </span>
                    <div class="public-post-content">
                        {{ item.content|safe}}
                    </div>
                </div>
            {% endfor%}

        </div>


        <div class="sidebar">
            {% if notes %}
                <div class="notes">
                    <h4>Notes</h4>
                    {% for note in notes %}
                        <div class="note">
                            {{ note.content|safe}}
                        </div>
                    {% endfor%}
                </div>
            {% else %}
                <div class="notes"></div>
            {% endif %}

                <div class="recentPosts">
                    <h4>Recent Posts</h4>
                    <ul class="posts">
                        {% for post in tops %}
                            <li><a href="/post/{{ post.pid}}">{{ post.title }}</a></li>
                        {% endfor %}
                        {% for post in posts %}
                            <li><a href="/post/{{ post.pid}}">{{ post.title }}</a></li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="categories">
                    <h4>Categories</h4>
                    <ul class="tag">
                        {% for tag in tags %}
                            <li><a href="/archive/tags/{{ tag.name }}">{{ tag.name }}</a></li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="myLinks">
                    <h4>Links</h4>
                    <ul class="links">
                        <li><a href="https://github.com/fengyarnom">Github</a></li>
                    </ul>
                </div>
            </div>



    </div>
</div>

<script>
        $(document).ready(function(){
           $(".posts .public-post-content").each(function(){
                txt  = $(this).html().trim();
                txt = txt.replace(/(.+?)(<div>)/,"<div>$1</div><div>");
                txt = txt.replace(/<div># (.+?)<\/div>/ig,"<h1>$1</h1>");
                txt = txt.replace(/<div>## (.+?)<\/div>/ig,"<h2>$1</h3>");
                txt = txt.replace(/<div>### (.+?)<\/div>/ig,"<h3>$1</h3>");
                txt = txt.replace(/<div>#### (.+?)<\/div>/ig,"<h4>$1</h4>");
                txt = txt.replace(/<div>##### (.+?)<\/div>/ig,"<h5>$1</h5>");
                txt = txt.replace(/<div>###### (.+?)<\/div>/ig,"<h6>$1</h6>");

                txt = txt.replace(/<div>```<\/div>(.+?)<div>```<\/div>/ig,"<div class='highlight-code'><pre>$1</pre></div>");
                $(this).html(txt)

                $(this).find(".highlight-code div").each(function(){
                    txt = $(this).html().trim();
                    txt =  txt.replace(/(.+?) /,"<span class='highlight-before'>$1 </span>");
                    txt = txt.replace(/&lt;(.+?)&gt;/g,"<span class='highlight-before'>&lt;$1&gt;</span>");
                    txt = txt.replace(/&lt;(.+?)\/&gt;/g,"<span class='highlight-before'>&lt;$1&gt;</span>");
                    $(this).html(txt)

                 });

            });

            // $(".tagName").blur(function(){
            //     $(".showTagList").fadeToggle(800);
            // });
        });


    </script>
{% endblock %}
