{% extends 'base.html' %}

{% block applicationMain %}
<div class="page-home">
    <div class="application-main">
        <div class="lately">
            {% include 'lately.html'%}
        </div>
        <div class="mainBox">
            {% for item in posts %}
                <h1>
                    <a href="/post/{{ item.pid }}">{{ item.title }}</a>
                </h1>
                {{ item.content }}
            {% endfor%}

        </div>
        <div class="rightBox">
            <!--之后可能还有需要,不要删除，页面布置相关-->
        </div>
    </div>
</div>
{% endblock %}