{% extends 'base.html' %}

{% block applicationMain %}
<div id="like_button_container"></div>
<div class="page-home">
    <div class="application-main">
        <div class="mainBox">
            {% for item in tops %}
                <div class="post">
                    <span class="time">{{ item.time }}</span>
                    <div class="title">
                        <div class="pre">&</div>
                        <a href="/post/{{ item.pid }}">{{ item.title }}</a>
                        <span>置顶文章</span>
                    </div>
                    <div class="content">
                        {{ item.content|safe}}
                    </div>
                </div>

            {% endfor%}

            {% for item in posts %}
                <div class="post">
                    <span class="time">{{ item.time }}</span>
                    <div class="title">
                        <div class="pre">&</div>
                        <a href="/post/{{ item.pid }}">{{ item.title }}</a>

                    </div>
                    <div class="content">
                        {{ item.content|safe}}
                    </div>
                </div>
            {% endfor%}

        </div>


        <div class="right-box">
            {% if notes %}
                <div class="notes">
                    <h4>Notes</h4>
                    {% for note in notes %}
                        <div class="note">
                            {{ note.content|safe}}
                        </div>
                    {% endfor%}
                </div>
            {% else %}
                <div class="notes"></div>
            {% endif %}

                <div class="item-group">
                    <div class="title">Recent Posts</div>
                    <ul class="posts">
                        {% for post in tops %}
                            <li><a href="/post/{{ post.pid}}">{{ post.title }}</a></li>
                        {% endfor %}
                        {% for post in posts %}
                            <li><a href="/post/{{ post.pid}}">{{ post.title }}</a></li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="item-group">
                    <div class="title">Categories</div>
                    <ul class="categories">
                        {% for tag in tags %}
                            <li><a href="/archive/tags/{{ tag.name }}">{{ tag.name }}</a></li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="item-group">
                    <div class="title">Links</div>
                    <ul class="link posts">
                        <a href="#"><li>Github</li></a>
                    </ul>
                </div>
            </div>



    </div>
</div>

<script>
        $(document).ready(function(){
           $(".mainBox .content").each(function(){
                txt  = $(this).html().trim();
                txt = txt.replace(/(.+?)(<div>)/,"<div>$1</div><div>");
                txt = txt.replace(/<div># (.+?)<\/div>/ig,"<h1>$1</h1>");
                txt = txt.replace(/<div>## (.+?)<\/div>/ig,"<h2>$1</h3>");
                txt = txt.replace(/<div>### (.+?)<\/div>/ig,"<h3>$1</h3>");
                txt = txt.replace(/<div>#### (.+?)<\/div>/ig,"<h4>$1</h4>");
                txt = txt.replace(/<div>##### (.+?)<\/div>/ig,"<h5>$1</h5>");
                txt = txt.replace(/<div>###### (.+?)<\/div>/ig,"<h6>$1</h6>");

                txt = txt.replace(/<div>```<\/div>(.+?)<div>```<\/div>/ig,"<div class='highlight-code'><pre>$1</pre></div>");
                $(this).html(txt)
            });
            $(".mobile-menu-li").click(function(){
                alert("A");
                $(".mobile-menu-li-show").fadeToggle(800);
            });

            // $(".tagName").blur(function(){
            //     $(".showTagList").fadeToggle(800);
            // });
        });


    </script>
{% endblock %}
