<div class="latelyBox">
            <div class="title">Lately</div>
            <div class="item-group">
                <div class="subtitle">
                    思考集
                </div>
                <ul>
                    <li><a href="">Item</a></li>
                    <li><a href="">Item</a></li>
                    <li><a href="">Item</a></li>
                </ul>
            </div>
            <div class="item-group">
                <div class="subtitle">
                    思考集
                </div>
                <ul>
                    <li><a href="">Item</a></li>
                    <li><a href="">Item</a></li>
                    <li><a href="">Item</a></li>
                </ul>
            </div>
        </div>