{% extends 'base.html' %}

{% block applicationMain %}
    <div class="page-newPost">
        <div class="application-main">
            <div class="left-box"></div>
            <form action="/new-post" class="post-form" method="get">
                <span class="span-pid">
                    {{ post.pid }}
                </span>
                <div class="form-group">
                    <input class="form-title" type="text" name="title" value={{post.title}}>
                    
                </div>
                <div class="form-group">
                    <div class="form-content" name="content" contenteditable="true" >
                        {{ post.content |safe}}
                    </div>
                </div>
                
                <div class="form-group send-box">
                    <div class="button">PUBLISH</div>
                </div>
                
            </form>
            <div class="right-box">
                <div class="archive-box">
                    <h4>归档设置</h4>
                    <div class="set-tag">
                        <input type="text" class="tagName" placeholder={{post.tag}}>
                        <div class="showTagList">
                            <ul class="tagList">
                                {% for item in archiveClass %}
                                    <option value ={{ item.name }}></option>
                                    <li> {{ item.name  }} </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                    </div>

                </div>
                <div class="option">
                    <h4>文章设置</h4>
                    {% if post.isTop%}
                        <label><input class="checkbox set-top" type="checkbox" checked> 置顶此文章 </label> 
                    {% else %}
                        <label><input class="checkbox set-top" type="checkbox"> 置顶此文章 </label>
                    {% endif %}
                    <label><input class="checkbox set-note" type="checkbox"> 设置此文章为通告 </label> 
                    
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $(".button").click(function(){
                var title = $(".form-title").val();
                var content = $(".form-content").html();
                var archiveClass = $(".tagName").val();
                
                var isTop = 0
                if($(".set-top").is(":checked")){
                    isTop = 1;
                } 

                var post_class = ''
                if($(".set-note").is(':checked')){
                    post_class = 'note';
                }else{
                    post_class = 'post';
                }

                
                var post_url = '/modifyPost/'+$('.span-pid').text().trim();
                $.post(post_url,{
                    post_class:post_class,
                    title:title,
                    content:content,
                    tag:archiveClass,
                    isTop:isTop
                });
                alert("修改成功");
            });

            $(".tagName").focus(function(){
                $(".showTagList").fadeToggle(800);
            });

            $(".tagName").blur(function(){
                $(".showTagList").fadeToggle(800);
            });

            $(".tagList li").click(function(){
                var tagName = $(this).text();
                $(".tagName").val(tagName);
            });
        });
    
    </script>
{% endblock %}