{% extends 'base.html' %}

{% block applicationMain %}
    <div class="page-newPost">
        <div class="application-main">
            <form action="/new-post" class="post-form" method="get">
                <div class="form-group">
                  <input class="form-title" type="text" name="title" placeholder="标题">
                </div>
                <div class="form-group">
                    <div class="form-content" name="content" contenteditable="true" >

                    </div>
                </div>
                
                <div class="form-group send-box">
                    <!-- <div class="button" onclick="send()">PUBLISH</div>   -->
                    <div class="button">PUBLISH</div>  
                </div>
                
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $(".button").click(function(){
                var title = $(".form-title").val();
                var content = $(".form-content").text();
                $.post("/new-post",{
                    title:title,
                    content:content
                });
            });
        });
    
    </script>
{% endblock %}