{% extends 'base.html' %}

{% block applicationMain %}
    <div class="page-newPost">
        <div class="application-main">
            <div class="left-box"></div>
            <form action="/new-post" class="post-form" method="get">
                <div class="form-group">
                    <input class="form-title" type="text" name="title" placeholder="请输入标题">
                </div>
                <div class="form-group">
                    <div class="form-content" name="content" contenteditable="true" >

                    </div>
                </div>

                <div class="form-group">

                    <div class="send-box">
                        <div class="setting-box-phone">
                            <img src="{{url_for('static',filename='img/setting (1).svg')}}" alt="">
                        </div>
                        <div class="button">PUBLISH</div>
                    </div>

                </div>



            </form>

            <div class="right-box">
                <div class="archive-box">
                    <h4>归档设置</h4>
                    <div class="set-tag">
                        <input type="text" class="tagName" placeholder="添加标签">
                        <div class="showTagList">
                            <ul class="tagList">
                                {% for item in archiveClass %}
                                    <option value ={{ item.name }}></option>
                                    <li> {{ item.name  }} </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>

                </div>
                <div class="option">
                    <h4>文章设置</h4>
                    <label><input class="checkbox set-top" type="checkbox"> 置顶此文章 </label>
                    <label><input class="checkbox set-note" type="checkbox"> 设置此文章为通告 </label>
                </div>
                <!-- <div class="image">
                    <h4>图片上传</h4>
                    <from class="imgForm">
                        <input id="input-img" type="file"  size="30" name="pic"/>
                        <button class="uploadImg" type="button" name="button">添加图片</button>
                    </from>

                </div> -->
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $(".button").click(function(){
                var title = $(".form-title").val();
                var content = $(".form-content").html();
                var archiveClass = $(".tagName").val();

                var isTop = 0
                if($(".set-top").is(":checked")){
                    isTop = 1;
                }

                var post_class = ''
                if($(".set-note").is(':checked')){
                    post_class = 'note';
                }else{
                    post_class = 'post';
                }

                $.post("/new-post",{
                    post_class:post_class,
                    title:title,
                    content:content,
                    tag:archiveClass,
                    isTop:isTop
                });
                alert("上传成功");
            });

            $(".tagName").focus(function(){
                $(".showTagList").fadeToggle(800);
            });

            $(".tagName").blur(function(){
                $(".showTagList").fadeToggle(800);
            });

            $(".tagList li").click(function(){
                var tagName = $(this).text();
                $(".tagName").val(tagName);
            });
            $('.uploadImg').click(function () {
            var f=document.getElementById('input-img').files[0];
            var formdata=new FormData();
            formdata.append('pic',f)
            // console.log(formdata.get('pic'))
            // let formFile = new FormData(temp[0]);
		     $.ajax({
                url:"/uploadImg",
                type:"POST",
                data:formdata,
                processData:false,
                contentType:false,
                success: function (data) {
                    $(".form-content").append(`<img src="../static/upload/imgs/${data}"/>`);

                }
            });
         });
         $(".setting-box-phone").click(function(){
             $(".right-box").toggle(600);
         });
});


    </script>
{% endblock %}
