{% extends 'base.html' %}

{% block applicationMain %}
<div class="page-post">
    <div class="application-main">
        <div class="left-box"></div>
        <div class="post">
            <div class="title">
                {{ post.title }}
            </div>
            <div class="time">
                   发布时间：
                    <span>{{ post.time }}</span>
            </div>
            <div class="content">
                {{ post.content|safe}}
            </div>
            <div class="footer">
                结束
            </div>
        </div>

        <div class="right-box">
            <div class="block">
                <a href="/" class="come_back_index">
                    <img src="{{ url_for('static',filename='img/返回.svg') }}" alt="">
                    返回主页
                </a>
                <a href="/modifyPost/{{ post.pid }}" class="modify">
                    <img src="{{ url_for('static',filename='img/修改.svg') }}" alt="">
                    修改文章
                </a>
            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function(){
        txt  = $(".post .content").html().trim();
        txt = txt.replace(/(.+?)(<div>)/,"<div>$1</div><div>");
        txt = txt.replace(/<div># (.+?)<\/div>/ig,"<h1>$1</h1>");
        txt = txt.replace(/<div>## (.+?)<\/div>/ig,"<h2>$1</h3>");
        txt = txt.replace(/<div>### (.+?)<\/div>/ig,"<h3>$1</h3>");
        txt = txt.replace(/<div>#### (.+?)<\/div>/ig,"<h4>$1</h4>");
        txt = txt.replace(/<div>##### (.+?)<\/div>/ig,"<h5>$1</h5>");
        txt = txt.replace(/<div>###### (.+?)<\/div>/ig,"<h6>$1</h6>");
        txt = txt.replace(/<div>```<\/div>(.+?)<div>```<\/div>/ig,"<div class='highlight-code'><pre>$1</pre></div>");

        $(".post .content").html(txt)

        $(".post .content pre div").each(function(){
            txt = $(this).html().trim();
            txt = txt.replace(/(.+?) /,"<span class='highlight-before'>$1 </span>");
            txt = txt.replace(/&lt;(.+?)&gt;/g,"<span class='highlight-before'>&lt;$1&gt;</span>");
            txt = txt.replace(/&lt;(.+?)\/&gt;/g,"<span class='highlight-before'>&lt;$1&gt;</span>");
            $(this).html(txt)

         });
        // txt  = $(".content pre").html().trim();
        // txt = txt.replace(/<div>(.+?) /,"<span class='highlight-before'>$1 </span>");
        // $(".post .content pre").html(txt)

    });

</script>
{% endblock %}
