{% extends 'base.html' %}
{% block applicationMain %}
<div class="page-archive">
    <div class="application-main">
       <div class="left-box">

            <div class="title">
               Tags-Page
               <span class="time">{{ time.year }}</span>

            </div>


           <div class="yearList">
                <p>人生其中慢慢途，如同古人，余亦逆旅行人也，故而行之所见闻，所获感，札于此中，以期有所记述，有所感悟。</p>
                <p>至于明白章理、契机，遂有览先贤哲人之明非。又成年，读于大学，得以学谋生之技，余宝贵之，故一并记录于此。</p>
               <span>content</span>
               <ul>
                    {% for x in range(2021,time.year+1)|reverse%}
                        <li><a href="?year={{ x }}">{{ x }}</a></li>
                    {% endfor%}

               </ul>
           </div>
       </div>
       <div class="right-box">
            <div class="title"></div>
            <ul>
                {% for item in posts%}
                    <li><a href="/post/{{ item.pid }}">
                        <div class="time">
                            {{ item.time }}
                        </div>
                        <div class="post-title">
                            {{ item.title }}
                        </div>

                    </a></li>
                {% endfor%}
            </ul>
            <div class="archive-list">

            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        var txt = $(".right-box li:first-child").text();
        year = txt.match(/\d+/g);
        $(".right-box .title").html("<p>& {{ tag }}</p>"+year[0]);
        month = '01'
        $(".right-box ul li").each(function(){
            txt = $(this).html();
            year = txt.match(/\d+/g)
            if(month != year[2]){
                month = year[2];
                appendStr = '<div class="month-tag">'+month+'</div><ul class="'+month+' month-ul"></ul>'
                $('.archive-list').append(appendStr);
            }
            classStr='.'+month
            appendStr = '<li>'+txt+'</li>'
            $(classStr).append(appendStr);
            $(this).remove();
        });

    });

</script>
{% endblock %}
